<form action="/Auth/Login" method="post">
    <span>@Html.ValidationMessage("Login")</span>
    <input type="text" name="username" placeholder="Usuario" />
    <input type="password" name="password" placeholder="Contraseña" />
    <button>Login</button>

</form>